*{
	box-sizing:border-box;
}
/*Setting the grid layout*/
.row{
	max-width: 1000px;
	padding-left:20px;
	padding-right:20px;
	margin:0 auto;
}
/*Clearfix*/
.row::before, .row::after{
	display: table;
	content: '';
}
.row::after{
	clear:both;
}
/*3 columns*/
.col-4,.col-12{
	float:left;
	padding-left:1.04166666%;
	padding-right:1.04166666%;
}
/*Mobile*/
.col-4, .col-12{
	width:100%;
}
/*Larger screen than 640px*/
@media only screen and (min-width:640px){
	.col-4{
		width:33.33%;
	}
}
